
<form asp-action="RefundTransaction" asp-controller="Checkout" method="post">
    <input type="hidden" name="TransactionId" value="@ViewBag.TransactionId" />
    <input type="hidden" name="CustomerId" value="@ViewBag.CustomerId" />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Amount : </span>
        </div>
        <input type="number" name="Amount" class="form-control" placeholder="Enter the refund amount">
    </div>
    <div class="pt-3 btn-group" role="group">
        <button type="submit" class="btn btn-primary">Refund</button>
    </div>
</form>
    
